.navbar {
  color: #F8F7F4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #1E2A38;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  display: flex;
  padding-left: 1rem;
}

.saved-books-title {
  font-size: 1.1rem;
  color: #F8F7F4;
  text-decoration: none;
  padding-right: 1rem;
}