.navbar {
  color: #ffffff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #1e2a38;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  padding: 0 1rem;
  letter-spacing: 0.35em;
}

.nav-links {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #ffffff;
  margin-right: 1rem;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.nav-links:hover {
  text-decoration: underline white 1px;
}

.nav-left {
  display: flex;
  gap: 1rem;
}

.nav-links:active {
  transform: translateY(0.5px);
}

.logo {
  height: 3.3rem;
  width: 9.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
}
