.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  padding: 1rem;
  position: fixed;
  background: #F8F7F4;
  width: 40rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  z-index: 2001;
}

.modal-body,
.modal-head {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

.modal-head {
  padding-bottom: 0;
  justify-content: space-between;
}

.modal-body {
  height: 20rem;
  display: flex;
  gap: 2rem;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal-btn {
  border: none;
  background-color: #1E2A38;
  color: #F8F7F4;
  padding: 0.7rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
}


#close-btn {
  background-color: transparent;
  color: black;
  font-size: 1rem;
  max-height: fit-content;
  max-width: fit-content;
  padding: 0;
  border: none;
}

.book-content {
  display: flex;
  flex-direction: column;
}

.book-cover {
  max-height: 20rem;
  max-width: 15rem;
  border-radius: 5px;
}

#book-description {
  font-size: 20px;
  margin-top: 2rem;
}

#book-title {
  font-size: 25px;
  font-weight: 700;
}

.book-genres {
  display: flex;
  gap: 0.5rem;
}